# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt

# Data
# data/
# *.wav
# *.mp3

# Models
models/*.pt
models/*.pth
*.onnx

# Logs
logs/
mlruns/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Misc
*.zip
*.tar.gz
